doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Internet of Vehicles PoC
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Advent+Pro')
  link(rel='stylesheet' href='/assets/css/styles.css')
.container(style='margin-top: 30px;')
  h1.text-center Internet of Vehicles PoC
  h4.text-center(style='margin-top: -10px;') Case Management
body(style="font-family: 'Advent Pro', sans-serif;")
  div(style='margin-right: 50px;margin-left: 50px;margin-top: 10px;')
    .container(style='max-height: 420px;')
      .row
        .col-3.col-sm-3.col-md-3.col-lg-3.col-xl-3
          form(action='/case' method='get')
            label Filters
            .input-group
              input.form-control(name='search' type='text' style='width: 100%;margin-top: -10px;padding-bottom: 2px;padding-top: 2px;' placeholder='Enter (Partial) Case ID or Case Name' value=search)
            button.btn.btn-light.border.rounded-0(type='submit' style='width: 100%;background-color: #efefef;margin-bottom:20px') Search Case
          each val, index in orgList
            if(privateFor==val)
              a.btn.btn-light.border.rounded-0(href='/case?privateFor='+val+'&search='+search style='width: 100%;background-color: #6633ff7b;color: #ffffff;') #{val}
            else
              a.btn.btn-light.border.rounded-0(href='/case?privateFor='+val+'&search='+search style='width: 100%;background-color: #ffffff;') #{val}
          a.btn.btn-light.border.rounded-0(href='/case?privateFor='+'&search=' style='width: 100%;background-color: #efefef;margin-top:20px') Clear Filters
          label(style='margin-top: 20px;') Actions
          a.btn.btn-light.border.rounded-0(href='/case/create' style='width: 100%;background-color: #efefef;') Create Case
        .col-9.col-sm-9.col-md-9.col-lg-9.col-xl-9(style='background-color: #fdfdfd;margin-top: 21px;')
          .table-responsive.table-borderless(style='margin-top: 10px;')
            table.table.table-bordered
              tbody
                each val, index in case_list
                  tr
                    td(style='padding-top: 0px;padding-bottom: 0px;padding-right: 0px;') Case ID
                    td(style='padding-top: 0px;padding-bottom: 0px;')
                      a(href='/file/list/?caseid='+val.id)
                        span(style='text-decoration: underline;') #{val.id}
                        br
                  tr
                    td(style='padding-top: 0px;padding-bottom: 12px;padding-right: 0px;') Case Name
                    td(style='padding-top: 0px;padding-bottom: 0px;') #{val.name}
                      br

script(src='/assets/js/jquery.min.js')
script(src='/assets/bootstrap/js/bootstrap.min.js')
