doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Internet of Vehicles PoC
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Advent+Pro')
  link(rel='stylesheet' href='/assets/css/styles.css')
.container(style='margin-top: 30px;')
  h1.text-center Internet of Vehicles PoC
  h4.text-center() File Management of CaseID
  h5.text-center(style='margin-top: -10px;') #{caseid}
body(style="font-family: 'Advent Pro', sans-serif;")
  div(style='margin-right: 50px;margin-left: 50px;margin-top: 10px;')
    .container(style='max-height: 420px;')
      .row
        .col-3.col-sm-3.col-md-3.col-lg-3.col-xl-3
          label Filters
          form(method='get')
            .input-group
              input.form-control(name='search' type='text' style='width: 100%;margin-top: -10px;padding-bottom: 2px;padding-top: 2px;' placeholder='Enter (Partial) File ID' value=search)
              input.form-control(name='caseid' type='text' value=caseid hidden)
              .input-group-prepend
              .input-group-append
            button.btn.btn-light.border.rounded-0(type='submit' style='width: 100%;background-color: #efefef;') Search File
          a.btn.btn-light.border.rounded-0(href='/file/list?caseid='+'&search=' style='width: 100%;background-color: #efefef;margin-top:20px') Clear Filters
          label(style='margin-top: 20px;') Actions
          button.btn.btn-light.border.rounded-0(type='button' style='width: 100%;background-color: rgb(255,255,255);padding-top: 30%;padding-bottom: 30%;')
            | Drag File Here to Upload
        .col-9.col-sm-9.col-md-9.col-lg-9.col-xl-9(style='background-color: #fdfdfd;margin-top: 21px;')
          .table-responsive.table-borderless(style='margin-top: 10px;')
            table.table.table-bordered
              tbody
                each val, index in file_list
                  tr
                    td(style='padding-top: 0px;padding-bottom: 0px;padding-right: 0px;min-width:60px') File ID
                    td(style='padding-top: 0px;padding-bottom: 0px;')
                      a(href='#') #{val.id}
                        br
                    td(style='padding-top: 0px;padding-bottom: 0px;padding-right: 3px;width: 85px;')
                      a.text-danger(href="javascript:void(0)" style="min-width:96px;" onclick="deletebtn(\""+val.id+"\")") Delete File

  script(src='/assets/js/jquery.min.js')
  script(src='/assets/bootstrap/js/bootstrap.min.js')
  script(src='/assets/js/filereader.js')
  script(type='text/javascript').
    FileReaderJS.setupDrop(document.body, {
      readAsDefault: "DataURL",
      on: {
        load: async function(e, file) {
          fetch('/file/new?caseid='+caseid, {
            body: e.target.result,
            method: 'POST',
          }).then(response => {
            if(!response.ok) {
              alert('File Upload Failed')
            } else {
              location.reload()
            }
          })
        }
      }
    })
    function deletebtn(fileid) {
      fetch('/file/delete?caseid='+caseid+'&fileid='+fileid).then(response => {
        if(!response.ok) {
          alert('File Deletion Failed')
        } else {
          location.reload()
        }
      })
    }